<br />
<br />
<br />

<div ng-show="!loggedin || !DozvolaZaKomentarKorisnika || user.role!=2 "> <h3 class="slovaEdit">Nije moguce ostavljanje komentara</h3></div>
<div ng-show="loggedin && DozvolaZaKomentarKorisnika && user.role==2">
    <div class="form-group pozadinaZaKomentar">
        <table align="center" class="tabelaZaKomentar">
            <tr>
                <td colspan="2" align="center"> <h1 class="slovaEdit1">Ostavite komentar</h1></td>
            </tr>
            <tr>
                <td></td>
                <td width="100%">
                    <textarea class="form-control pozadinaZaPoljeZ" placeholder="Ostavite komentar.." ng-model="ko.Opis"></textarea>
                </td>
            </tr>
            <tr ng-show="!moraKomentarKorisnik">
                <td class="slovaEdit1">
                    Ocjena voznje:
                </td>
                <td>
                    <input class="pozadinaZaPoljeZ" type="text" ng-model="ko.Ocena" />
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <br />
                    <button class="button-successBlok" type="submit" ng-click="DodajKomentarKo(ko)">Dodajte komentar</button>
                </td>
            </tr>
        </table>
    </div>
</div>
