<br />
<br />
<br />
<div ng-show="!loggedin || user.role==0">
    <h3>Dodavanje voznje nije moguce</h3>
</div>
<div ng-show="loggedin && user.role!=0">
    <div class="container-fluid slovaEdit1" ng-show="loggedin">
        <div class="DodavanjeVoznji">
            <div class="header">
                <h2>Voznja</h2>
            </div>
            <div class="body slovaEdit1" ng-show="!najbliziVozaci">
                <label>Dodajte Vasu lokaciju: </label>

                <div>
                    <div id="map" class="map"></div>
                    <div>
                        
                    </div>
                    <script>
                        var map = new ol.Map({
                            layers: [
                                new ol.layer.Tile({
                                    source: new ol.source.OSM()
                                })
                            ],
                            target: 'map',
                            view: new ol.View({
                                center: [0, 0],
                                zoom: 2
                            })

                        });

                        function simpleReverseGeocoding(lon, lat) {
                            fetch('https://cors.io/?http://nominatim.openstreetmap.org/reverse?format=json&lon=' + lon + '&lat=' + lat).then(function (response) {
                                return response.json();
                            }).then(function (json) {
                                document.getElementById('address').innerHTML = json.display_name;
                            })
                        }
                        map.on('click', function (e) {
                            var coordinate = ol.proj.toLonLat(e.coordinate).map(function (val) {
                                return val.toFixed(6);
                            });

                            document.getElementById('lon').innerHTML = coordinate[0];
                            document.getElementById('lat').innerHTML = coordinate[1];

                            var lon = document.getElementById('lon').value = coordinate[0];
                            var lat = document.getElementById('lat').value = coordinate[1];
                            simpleReverseGeocoding(lon, lat);
                        });
                    </script>
                </div>
                <div class="slovaEdit1">
                    <div class="form-group">
                        <b>X koordinate:</b> &nbsp; <span id="lon"></span>
                    </div>
                    <div class="form-group">
                        <b>Y koordinate: </b> &nbsp; <span id="lat"></span>
                    </div>
                    <div class="form-group">
                        <b> Adresa: </b>&nbsp;<span id="address"></span>
                    </div>
                    <div class="form-group">
                        <select class="t" id="tipAuta" ng-model="drive.tipAuta" placeholder="Tip automobila">
                            <option value="" disabled>Izaberite tip auta: </option>
                            <option value="0">Putnicki automobil</option>
                            <option value="1">Kombi</option>
                        </select>

                        <br/> 
                        <br/>
                        <button ng-show="user.role==2 && !najbliziVozaci" type="submit" class="btn button-success" ng-click="AddDriveCustomer(drive)">Dodajte voznju</button>
                        <button ng-show="user.role==1 && !najbliziVozaci" type="submit" class="btn button-success" ng-click="AddDriveDispecer(drive)">Dodajte voznju</button>
                    </div>
                </div>
                <br> 
            </div>
        

        <div class="form-group slovaEdit1 pozadinaZaKomentar">
            <div ng-show="!Prazna">
                <div ng-show="user.role==1 && najbliziVozaci">
                    <h4>Najblizi vozaci: </h4>
                    <select id="slobodni" ng-model="noviModel.SelektovaniVozac">
                        <option class="inputZaVozaca" ng-repeat="kor in ListaNajblizih" value="{{kor}}">{{kor}}</option>
                    </select>
                    <button class="dugme" type="submit" ng-click="DodajVoznjuDisp(noviModel)">Dodaj vozaca</button>
                </div>
            </div>
            <div ng-show="Prazna">
                <p>Nema slobodnih vozaca. Voznja ce biti dodata bez vozaca sa statusom 'Kreirana na cekanju'.</p>
            </div>
        </div>
    </div>
</div>
</div>