<br />
<br />
<br />
<div ng-show="!loggedin || user.role==0">
    <h3>Dodavanje voznje nije moguce</h3>
</div>
<div ng-show="loggedin && user.role!=0">
    <div class="container-fluid" ng-show="loggedin">
        <div class="registerWindow">
            <div class="header">
                <h2>Drive</h2>
            </div>
            <div class="body" ng-show="!najbliziVozaci">
                <label>Dodajte Vasu lokaciju: </label>

                <div>
                    <div id="map" class="map"></div>
                    <div>
                        <!--<input id="lon" type="number" step="0.000001">-->
                        <!--<input id="lat" type="number" step="0.000001">-->
                        <!--<button id="reversegeocoding" type=button name="button">Reverse geocode manually</button>
            <span id="address">
             </span>-->
                    </div>
                    <script>
                        var map = new ol.Map({
                            layers: [
                                new ol.layer.Tile({
                                    source: new ol.source.OSM()
                                })
                            ],
                            target: 'map',
                            view: new ol.View({
                                center: [0, 0],
                                zoom: 2
                            })

                        });

                        function simpleReverseGeocoding(lon, lat) {
                            fetch('https://cors.io/?http://nominatim.openstreetmap.org/reverse?format=json&lon=' + lon + '&lat=' + lat).then(function (response) {
                                return response.json();
                            }).then(function (json) {
                                document.getElementById('address').innerHTML = json.display_name;
                            })
                        }
                        map.on('click', function (e) {
                            var coordinate = ol.proj.toLonLat(e.coordinate).map(function (val) {
                                return val.toFixed(6);
                            });
                            var lon = document.getElementById('lon').value = coordinate[0];
                            var lat = document.getElementById('lat').value = coordinate[1];
                            simpleReverseGeocoding(lon, lat);
                        });
                    </script>

                </div>
                <div class="form-group">
                    <input id="lon" type="number" step="0.000001">
                </div>
                <div class="form-group">
                    <input id="lat" type="number" step="0.000001">
                </div>
                <div class="form-group">
                    <span id="address"></span>
                </div>
                <div class="form-group">
                    <select class="t" id="tipVoznje" ng-model="drive.tipAuta" placeholder="Tip automobila">
                        <option value="" disabled>Izaberite tip auta: </option>
                        <option value="0">Putnicki automobil</option>
                        <option value="1">Kombi</option>
                    </select>
                </div>
                <br>


                <button ng-show="user.role==2 && !najbliziVozaci" type="submit" class="btn button-success" ng-click="AddDriveCustomer(drive)">Dodajte voznju</button>
                <button ng-show="user.role==1 && !najbliziVozaci" type="submit" class="btn button-success" ng-click="AddDriveDispecer(drive)">Dodajte voznju(dispecer)</button>
            </div>
        </div>

        <div class="form-group">
            <div ng-show="!Prazna">
                <div ng-show="user.role==1 && najbliziVozaci">
                    <select id="slobodni" ng-model="noviModel.SelektovaniVozac">
                        <option ng-repeat="kor in ListaNajblizih" value="{{kor}}">{{kor}}</option>
                    </select>
                    <button type="submit" ng-click="DodajVoznjuDisp(noviModel)">Dodaj ga</button>
                </div>
            </div>
            <div ng-show="Prazna">
                <p>Nema slobodnih vozaca. Voznja ce biti dodata bez vozaca sa statusom 'Kreirana Na cekanju'.</p>
            </div>
        </div>
    </div>
</div>