<br />
<br />
<br />

<div ng-show="!loggedin"><h3>Morate se ulogovati za ovu akciju!</h3></div>
<div ng-show="loggedin">
    <div class="registerWindow">
        <div class="header">
            <h2>Izmijenite podatke: </h2>
        </div>
        <div class="form-group body">

            <div class="form-group">
                <label class="slovaEdit">Unesite novo korisnicko ime: </label>
                <br />
                <input type="text" class="t" id="username" ng-model="user.username" ng-value="userProfile.KorisnickoIme" contenteditable="true">
            </div>
            <div class="form-group">
                <label class="slovaEdit">Unesite novo ime:  </label>
                <br />
                <input type="text" class="t" id="ime" ng-model="user.ime" ng-value="userProfile.Ime" contenteditable="true">
            </div>
            <div class="form-group">
                <label class="slovaEdit">Unesite novo  prezime: </label>
                <br />
                <input type="text" class="t" id="prezime" ng-model="user.prezime" ng-value="userProfile.Prezime" contenteditable="true">
            </div>
            <div class="form-group">
                <label class="slovaEdit">Odaberite pol:  </label>
                <br />
                <select class="t" id="pol" ng-model="user.pol">
                    <option value="" disabled>{{P}}</option>
                    <option value="Musko"> Musko</option>
                    <option value="Zensko">Zensko</option>
                </select>
            </div>
            <div class="form-group">
                <label class="slovaEdit">Unesite novi jmbg:  </label>
                <br />
                <input type="text" class="t" id="jmbg" ng-model="user.jmbg" ng-value="userProfile.Jmbg" contenteditable="true">
            </div>
            <div class="form-group">
                <label class="slovaEdit">Novi kontakt telefon:  </label>
                <br />
                <input type="text" class="t" id="kontaktTelefon" ng-model="user.kontaktTelefon" ng-value="userProfile.KontaktTelefon" contenteditable="true">
            </div>
            <div class="form-group">
                <label class="slovaEdit">Nova e-mail adresa:  </label>
                <br />
                <input type="text" class="t" id="email" ng-model="user.email" ng-value="userProfile.Email" contenteditable="true">
            </div>
            <div class="form-group">
                <label class="slovaEdit">Unesite novu lozinku:  </label>
                <br />
                <input type="password" class="t" id="pwd" ng-model="user.pwd" ng-value="userProfile.Lozinka" contenteditable="true">
            </div>
            <br>
            <button class="button-success" type="submit" ng-click="EditUser(user)">Sacuvajte izmjene</button>
        </div>
    </div>
</div>