<br />
<br />
<br />
<div class="porukaORegistraciji">
    <div><h1 class="success naslov">Taksi sluzba</h1></div>
    <h4 class="success">{{RegisterSuccess}}</h4>
</div>
<div class="loginWindow">
    <div class="header">
        <h2>Logovanje korisnika</h2>
    </div>
    <div class="body">
        <div class="form-group">
            <input type="text" class="t" id="username" ng-model="user.username" placeholder="Korisnicko ime">
        </div>
        <div class="form-group">
            <input type="password" class="t" id="pwd" ng-model="user.pwd" placeholder="Lozinka">
        </div>
        <br>
        <button type="submit" class="btn button-success" ng-click="LoginUser(user)">Prijavite se</button>
    </div>
</div> 