<br />
<br />
<br />
<div ng-show="!loggedin || !DozvolaZaObraduVoznji || user.role != 1">
    <h3>Nemate dozvolu za ovu akciju!</h3>
</div>
<div ng-show="loggedin && DozvolaZaObraduVoznji && user.role == 1">
    <div ng-show="NemaVozaca">
        <h3>Voznja nije obradjena, nema slobodnih vozaca.</h3>
    </div>
    <div class="form-group pozadinaZaKomentar" ng-show="!NemaVozaca">
        <table align="center">
            <tr>
                <td align="center" colspan="2"><h3 class="slovaEdit1">Slobodni vozaci koji ispunjavaju zahtjeve:</h3></td>
            </tr>
            <tr>
                <td align="right">
                    <select id="slobodni" ng-model="noviModel.SelektovaniVozac">
                        <option class="inputZaVozaca" ng-repeat="kor in PonudjeniVozaci" value="{{kor}}">{{kor}}</option>
                    </select>
                </td>
                <td>
                    <button class="dugme" type="submit" ng-click="ObradiVoznjuDisp(noviModel)">Obradite voznju</button>
                </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td></tr>
        </table>
    </div>
</div> 