<br />
<br />
<br />

<div ng-show="!loggedin" class="registerWindow container">
    <div class="header">
        <h2>Registrovanje korisnika</h2>
    </div>

    <div class="container body">
        <div class="form-group">
            <input type="text" class="t" id="username" ng-model="user.username" placeholder="Korisnicko ime">
        </div>
        <div class="form-group">
            <input type="text" class="t" id="ime" ng-model="user.ime" placeholder="Ime">
        </div>
        <div class="form-group">
            <input type="text" class="t" id="prezime" ng-model="user.prezime" placeholder="Prezime">
        </div>
        <div class="form-group">
            <select class="t" id="pol" ng-model="user.pol" placeholder="Pol">
                <option value="" disabled>Izaberite pol</option>
                <option value="Male"> Musko</option>
                <option value="Female">Zensko</option>
            </select>
            <!--<input type="text" class="t" id="pol" ng-model="user.pol" placeholder="Pol">-->
        </div>
        <div class="form-group">
            <input type="text" class="t" id="jmbg" ng-model="user.jmbg" placeholder="Jmbg">
        </div>
        <div class="form-group">
            <input type="text" class="t" id="kontaktTelefon" ng-model="user.kontaktTelefon" placeholder="Kontakt telefon">
        </div>
        <div class="form-group">
            <input type="text" class="t" id="email" ng-model="user.email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="t" id="pwd" ng-model="user.pwd" placeholder="Lozinka">
        </div>
        <br>
        <button type="submit" class="btn button-success" ng-click="RegisterUser(user)">Registrujte se</button>
    </div>
</div>
<div ng-show="loggedin">
    Vec ste ulogovani!
</div>