.loginWindow {
  width: 500px;
  height: 200px;
  border: 4px solid #0060FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 40px;
  background: #888888;
}
  .loginWindow .header {
    width: 100%;
    border-radius: 4px 4px 0 0;
    text-align: center; }
    .loginWindow .header h2 {
      font-weight: 300;
      color: #0060FF; }
  .loginWindow .body {
    padding-top: 20px;
    align-content: center;
    padding: 30px; }

.registerWindow {
    width: 500px;
    min-height: 400px;
    max-height: auto;
    border: 4px solid black;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    padding: 40px;
    background: #888888;}
  .registerWindow .header {
    width: 100%;
    border-radius: 4px 4px 0 0;
    text-align: center; }
    .registerWindow .header h2 {
      font-weight: 300;
      color: black; }
  .registerWindow .body {
    padding-top: 20px;
    padding: 30px;
  }

