@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </div>
    </div>*@

@{
    Layout = null;
}
<html ng-app="WebAPI">
<head>
    <title>Taksi Servis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="stylesheet" href="../../MyCSSs/StyleSheet1.css" type="text/css" />*@
    <link rel="stylesheet" href="../../css/css_stil.css" type="text/css" />
    <link rel="stylesheet" href="../../css/style.css" type="text/css" />
    <link rel="stylesheet" href="../../css/app.css" type="text/css" />
    <link rel="stylesheet" href="../../css/app.css" type="text/css" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
    <style>
        .map {
            height: 400px;
            width: 100%;
        }
    </style>

    @*<link rel="stylesheet" href="../../css/demo.css" type="text/css" />
        <link rel="stylesheet" href="../../css/style.css" type="text/css" />
        <link rel="stylesheet" href="../../css/animate-custom.css" type="text/css" />*@
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    @*ng-controller="MainController"*@
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top" ng-controller="MainController">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-show="loggedin" ng-class="checkActive('/MyHome')"><a href="#!/MyHome"><i class="ion ion-android-home"></i> Pocetna strana</a></li>
                        <li ng-show="loggedin" ng-class="checkActive('/Edit')"><a href="#!/Edit/{{user.username}}"><i class="ion ion-person"></i>Izmijenite profil</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="!loggedin" ng-class="checkActive('/Login')"><a href="#!/Login">Prijavite se</a></li>
                        <li ng-show="!loggedin" ng-class="checkActive('/Register')"><a href="#!/Register">Registrujte se</a></li>
                        <li ng-show="loggedin" ng-class="checkActive('/Profile')"><a href="#!/Profile/{{user.username}}"><i class="ion ion-person"></i> {{user.nameSurname}}</a></li>
                        <li ng-show="loggedin"><a href ng-click="Logout()"><i class="ion ion-log-out"></i> Odjavite se</a></li>
                    </ul>
                </div><!-- /.navbar-collapse    class="glyphicon glyphicon-user"   class="glyphicon glyphicon-log-in" -->
            </div><!-- /.container-fluid -->
        </nav>
        <div ng-view></div>
    </div>
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/angular.min.js"></script>
    <script src="../../Scripts/angular-route.min.js"></script>
    <script src="../../Factories/PageHelp.js"></script>
    <script src="../../JSControllers/MainController.js"></script>
    <script src="../../JSControllers/MyHomeController.js"></script>
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js" type="text/javascript"></script>
    <script src="../../JSControllers/ProfileController.js"></script>
    <script src="../../JSControllers/JSRegILogController.js"></script>
    <script src="../../Factories/RegILogFactory.js"></script>
    <script src="../../Factories/ProfCont.js"></script>
    <script src="../../Factories/MyDirective.js"></script>
</body>
</html> 