

@{
    Layout = null;
}
<html ng-app="WebAPI">
<head>
    <title>Taksi Servis</title>
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    @*<link rel="stylesheet" href="../../MyCSSs/StyleSheet1.css" type="text/css" />*@

    <link rel="stylesheet" href="../../css/css_stil.css" type="text/css" />
    <link rel="stylesheet" href="../../css/style.css" type="text/css" />
    <link rel="stylesheet" href="../../css/app.css" type="text/css" />
    <link rel="stylesheet" href="../../css/demo.css" type="text/css" />
    @*<link rel="stylesheet" href="../../css/app.css" type="text/css" />*@


    <link rel="shortcut icon" href="../favicon.ico">

    
    <meta charset=utf-8>
    <meta name=description content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Reverse geocoding</title>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.4.2/css/ol.css" type="text/css">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL,fetch"></script>
    <script src="https://openlayers.org/en/v4.4.2/build/ol.js"></script>
    
    <style type="text/css">
        #map {
            height: 600px;
        }
    </style>

  
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top" ng-controller="MainController">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="headercolor collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-show="loggedin && !moraKomentar && !moraKomentarKorisnik" ng-class="checkActive('/MyHome')"><a href="#!/"><i class="ion ion-android-home"></i> Home</a></li>
                        <li ng-show="loggedin && !moraKomentar && !moraKomentarKorisnik" ng-class="checkActive('/Edit')"><a href="#!/Edit"><i class="ion ion-person"></i>Edit Profile</a></li>
                        <li ng-show="loggedin && user.role==1" ng-class="checkActive('/BlockUsers')"><a href="#!/BlockUsers"><i class="ion ion-person"></i>Block Users</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="!loggedin" ng-class="checkActive('/Login')"><a href="#!/Login">Prijavite se</a></li>
                        <li ng-show="!loggedin" ng-class="checkActive('/Register')"><a href="#!/Register">Registrujte se</a></li>
                        <li ng-show="loggedin && !moraKomentar && !moraKomentarKorisnik" ng-class="checkActive('/Profile')"><a href="#!/Profile"><i class="ion ion-person"></i> {{user.nameSurname}}</a></li>
                        <li ng-show="loggedin && !moraKomentar && !moraKomentarKorisnik"><a href ng-click="Logout()"><i class="ion ion-log-out"></i> Odjavite se</a></li>
                    </ul>
                </div><!-- /.navbar-collapse    class="glyphicon glyphicon-user"   class="glyphicon glyphicon-log-in" -->
            </div><!-- /.container-fluid -->
        </nav>
        <div ng-view></div>
    </div>
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/angular.min.js"></script>
    <script src="../../Scripts/angular-route.min.js"></script>


    <script src="../../Factories/PageHelp.js"></script>
    <script src="../../JSControllers/MainController.js"></script>
    <script src="../../JSControllers/MyHomeController.js"></script>
    <script src="../../JSControllers/CommentController.js"></script>
    <script src="../../JSControllers/BlockController.js"></script>


    @*<script src="https://openlayers.org/en/v4.6.5/build/ol.js" type="text/javascript"></script>*@
    <script src="../../JSControllers/ProfileController.js"></script>
    <script src="../../JSControllers/JSRegILogController.js"></script>
    <script src="../../Factories/RegILogFactory.js"></script>
    <script src="../../Factories/ProfCont.js"></script>
    <script src="../../Factories/MyDirective.js"></script>
</body>
</html> 